<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114570200566-gcsh8oeujpfej728qm88df3o1cq3jk04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114570200566-gcsh8oeujpfej728qm88df3o1cq3jk04</string>
	<key>API_KEY</key>
	<string>AIzaSyDL38OXIZyrjRyzjlHd_IkzWBtbPPJEE_A</string>
	<key>GCM_SENDER_ID</key>
	<string>114570200566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDiplomMoneyTracker</string>
	<key>PROJECT_ID</key>
	<string>flutter-pet-project-c75d6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-pet-project-c75d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114570200566:ios:51ccc613b0f24257aaf3d7</string>
</dict>
</plist>